.label {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.select {
  flex: 1 1 auto;
}

@media screen and (max-width: 800px) {
  .label {
    width: 80%;
    flex-direction: column;
    gap: 10px;
  }

  .select {
    width: 100%;
  }
}